body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    width: 100%;
    flex: 1 0 auto;
}

// For pages with centered content
article {
    max-width: 60ch;
    padding: $unit-med;
    margin: 0 auto;
}

.page-title {
    text-align: center;
}

// Homepage
.hero {
    width: 100%;
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 50vh;
    background-color: $secondary;
}

// Blog page
.post-archive li {
    padding: $unit-med;
    display: flex;
    border-bottom: 1px solid $light-gray;
    &:last-of-type { border-bottom: none;}
    .post-title {flex: 1;}
    .post-date {flex: 1;}
    .post-description {flex: 2;}   
}

// Footer
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $unit-lrg;
    flex-shrink: 0;
    background-color: $light-gray;
}
