<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-menu">
  {# Primary site logo #}
  <li><a  href="/" class="site-title">Home</a></li>
  
    {% for entry in navPages %}
      <li class="nav-item">
        <a
         href="{{ entry.url }}"
         class="{{'current-page nav-item' if entry.url in page.url
         else 'nav-item'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
 </ul>
</nav>
