<li class="project card">

      {# HEADER #}
      <ul class="project-meta">
        {# TAG #}
          <li>
        {% for item in post.data.tags %}
            {%- if item == 'art' -%}
              {{ item | capitalize }}:       
            {% endif %}
            {%- if item == 'design' -%}
              {{ item | capitalize }}:       
            {% endif %}
            {%- if item == 'life' -%}
              {{ item | capitalize }}:       
            {% endif %}
        {% endfor %}
        </li>

        {# YEAR #}
        <li> <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | yearOnly }}</time></li>

        {# LOCATION #}
        <li>{{ post.data.location }}</li>
      </ul>

      {# IMAGE #}
      <img class="featured-image" src="{{ post.data.featured_image}}" alt="{{ post.data.featured_alt }}">


      {# TITLE #}
      {% if post.data.tags.includes("life") %}
            <h2>{{ post.data.title }}</h2>
        {% else %}
      <a class="post-title" href="{{ post.url | url }}"><h2>{{ post.data.title }}</h2></a>
       {% endif %}

      {# MEDIA #}
      {% set comma = joiner() %}
      {% for item in post.data.media %}
            {{ comma() }} {{ item | capitalize }}
      {% endfor %}

      {# DESCRIPTION #}
      <span class="post-description">{{ post.data.description }}</span>

    </li>